# =====================================================================
# SYSTEM CONFIGURATION
# =====================================================================
COMPOSE_PROJECT_NAME=nama_project_anda
DEBUG=true_atau_false
SECRET_KEY=django-insecure-super-secret-key-change-in-production

# =====================================================================
# POSTGRESQL DATABASE
# =====================================================================
POSTGRES_DB=nama_database_anda
POSTGRES_USER=nama_user_anda
POSTGRES_PASSWORD=nama_password_anda
POSTGRES_HOST=nama_host_postgres_anda
POSTGRES_PORT=port_postgres_anda

# =====================================================================
# REDIS CACHE & BROKER
# =====================================================================
REDIS_HOST=nama_host_redis_anda
REDIS_PORT=port_redis_anda
REDIS_PASSWORD=nama_password_redis_anda

# =====================================================================
# MONGODB NOSQL
# =====================================================================
MONGO_INITDB_ROOT_USERNAME=nama_user_mongodb_anda
MONGO_INITDB_ROOT_PASSWORD=nama_password_mongodb_anda
MONGO_HOST=nama_host_mongodb_anda
MONGO_PORT=port_mongodb_anda

# =====================================================================
# FRONTEND & BACKEND URLS
# =====================================================================
VITE_API_URL=nama_url_backend_anda